* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#container {
    margin: 0 auto;
    width: 1200px;
}

header {
    width: 100%;
    height: 100px;
    background-color: #07c;
}

#logo {
    float: left;
    width: 250px;
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
}

#logo h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 -1px #222;
}

nav {
    float: right;
    width: 900px;
    height: 100px;
    padding-top: 40px;
}

#topMenu {
    height: 60px;
}

#topMenu>li {
    float: left;
    /*메뉴 왼쪽으로*/
    position: relative;
    /*서브메뉴를 absolute로 만들기 위해 부모 요소를 relative로*/
}

#topMenu>li>a {
    display: block;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px #07c;
    padding: 20px 60px;
}

#topMenu>li>a>span {
    font-size: 0.5em;
}

#topMenu>li>a:hover {
    color: #000;
    text-shadow: 0 -1px #07c;
    /*글자 굵어지지 않게?*/
}

#topMenu>li>ul {
    display: none;
    /*서브메뉴 안보이게*/
    position: absolute;
    /*서브메뉴 포지셔닝?*/
    width: 160px;
    background-color: rgba(255, 255, 255, 0.6);
    /*배경 투명*/
    left: 0;
    margin: 0;
    left: 20px;
}

#topMenu>li>ul>li {
    padding: 10px 10px 10px 30px;
    /*서브메뉴 항목 지정*/
}

#topMenu>li>ul>li>a {
    font-size: 14px;
    padding: 10px;
    color: #000;
}

#topMenu>li:hover>ul {
    display: block;
    z-index: 10;
    /*슬라이드쇼에 가리지 않게 조절*/
}

#topMenu>li>ul>li>a:hover {
    color: #f00;
}

#slideShow {
    clear: both;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#slides {
    position: absolute;
}

#slides>img {
    width: 100%;
    float: left;
}

button {
    position: absolute;
    height: 100%;
    /*이미지 높이에 맞추기*/
    top: 0;
    border: none;
    padding: 20px;
    background-color: transparent;
    /*투명 배경*/
    color: #000;
    /*화살표 색*/
    font-weight: 800;
    font-size: 24px;
    opacity: 0.5;
    /*투명도*/
}

#prev {
    left: 0;
    /*왼쪽으로 붙이기*/
}

#next {
    right: 0;
}

button:hover {
    background-color: #222;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
    /*포인터 모양으로 바꿈*/
}

button:focus {
    outline: 0;
    /*아웃라인 없앰*/
}

#contents {
    width: 100%;
    height: 300px;
}

#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    background-color: skyblue;
}

#links {
    float: right;
    width: 600px;
    height: 100%;
    background-color: skyblue;
}

footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}